<div class="column">
    <form [formGroup]="budgetForm">
        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <p class="control">
                        <input type="date" placeholder="dd.mm.yyyy" formControlName="date" class="input" name="date">
                    </p>
                </div>

                <div class="field is-narrow">
                    <p class="control">
                        <input type="number" formControlName="amount" name="amount" class="input" placeholder="Amount">
                    </p>
                </div>

                <div class="field is-narrow">
                    <p class="control">
                        <input type="text" formControlName="description" autocomplete="off" name="description"
                            class="input" placeholder="Description">
                    </p>
                </div>

                <div class="field is-narrow">
                    <button type="submit" (click)="submitForm();" class="button is-success"
                        [disabled]="!budgetForm.valid">
                        Add
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>