@import '../../main-styles.scss';

.budget-items-section {
    display: flex;
    // Horizontally and vertically center flex children
    justify-content: center;
    align-items: center;

    .budget-items-container {
        display: flex;
        width: 100%;
        max-width: $width;
        .income-column, .expenses-column {
            h1 {
                text-align: center;
                font-family: 'Lato';
                font-size: 24px;
                font-weight: 900;
                text-transform: uppercase;
            }
        }

        .income-column {
            h1 {
                color: $green;
            }
        }

        .expenses-column {
            h1 {
                color: $red;
            }
        }
    }
}

