<section class="budget-items-section">
    <div class="budget-items-container">

        <div class="income-column column">
            <h1>Income</h1>
            <div class="budget-items">
                <div *ngFor="let item of budgetIncomeItems | sortByDate">
                    <app-budget-item-card [budgetItem]="item" [budgetType]="budgetType.INCOME">
                    </app-budget-item-card>
                </div>
            </div>
        </div>

        <div class="expenses-column column">
            <h1>Expenses</h1>
            <div class="budget-items">
                <div *ngFor="let item of budgeOutcometItems | sortByDate">
                    <app-budget-item-card [budgetItem]="item" [budgetType]="budgetType.OUTCOME">
                    </app-budget-item-card>
                </div>
            </div>
        </div>
    </div>
</section>