@import '../../main-styles.scss';

.root {
    display: flex;
    width: 100%;
    position: relative;
    margin-bottom: 10px;

    &:hover {
        .x-icon-button {
            opacity: 1;
            transform: scale(1);
        }
    }

    .x-icon-button {
        position: absolute;
        z-index: 3;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        background: $dark;
        background-image: url('../../assets/delete_icon.svg');
        background-repeat: no-repeat;
        background-position: center;
        right: -10px; // this has to be half of the width
        top: -14px; // this has to be half of the height

        transition: opacity 0.2s ease-out, transform 0.2s ease-out;

        transform: scale(0);
        opacity: 0;

        cursor: pointer;

        &:hover {
            transform: scale(1.2);
        }
    }
}

.budget-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $light-grey;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;

    transition: background-color 0.2s ease-out;
    &:hover {
        background-color: darken($light-grey, 2%);
    }

    .day-name, .day-date {
        font-family: 'Lato'
    }

    .day-date {
        font-size: 13px;
    }

    .description-wrapper {
        display: flex;
    }

    .date {
        display: flex;
    }

    .description {
        display: flex;
        flex-grow: 1;
        font-size: 18px;
        // Vertically center the children elements
        align-items: center;
        word-break: break-all;
    }

    .amount {
        padding: 5px;
        border-radius: 3px;
        display: flex;
        align-items: center;
    }
}

.expense {
    p {
        color: $red;
    }

    .amount {
        background-color: $light-red;
    }
}

.income {
    p {
        color: $green;
    }

    .amount {
        background-color: $light-green;
    }
}
