@import '../../main-styles.scss';

.root {
    display: flex;
    width: 100%;
    position: relative;
    margin-bottom: 10px;
    max-height: 500px;
    transition: max-height 1s ease-in-out;
    &.mini {
        max-height: 40px;
    }

    &:hover {
        transition: all .5s ease-in-out;
        .x-icon-button {
            opacity: 1;
            transform: scale(1);
        }
        .toggle-button {
            opacity: 1;
            transform: scale(1);
        }
    }

    .toggle-button {
        position: absolute;
        z-index: 3;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        background: rgba(0, 0, 0, .3);
        background-repeat: no-repeat;
        background-position: center;
        left: -10px;
        top: -14px;
        transition: opacity 0.2s ease-out, transform 0.2s ease-out;

        transform: scale(0);
        opacity: 0;

        cursor: pointer;

        &:hover {
            transform: scale(1.2);
        }

        &.down, &.up {
            background-size: 10px 10px;
            background-image: url('../../assets/arrow.svg');
        }

        &.down {
            transition: transform .5s ease-in-out;
            transform: rotate(360deg);
        }

        &.up {
            transition: transform .5s ease-in-out;
            transform: rotate(180deg);
        }
    }

    .x-icon-button {
        position: absolute;
        z-index: 3;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        background: $dark;
        background-image: url('../../assets/delete_icon.svg');
        background-repeat: no-repeat;
        background-position: center;
        right: -10px;
        top: -14px;
        transition: opacity 0.2s ease-out, transform 0.2s ease-out;

        transform: scale(0);
        opacity: 0;

        cursor: pointer;

        &:hover {
            transform: scale(1.2);
        }
    }
}

.budget-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 500px;
    box-sizing: border-box;;
    background-color: $light-grey;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.2s ease-out;

    &:hover {
        background-color: darken($light-grey, 2%);
    }

    .day-name, .day-date {
        font-family: 'Lato'
    }

    .day-date {
        font-size: 13px;
    }

    .description-wrapper {
        display: flex;
        margin-bottom: 10px;
        &.mini {
            visibility: hidden;
        }
    }

    .date {
        display: flex;
    }

    .description {
        display: flex;
        flex-grow: 1;
        font-size: 18px;
        align-items: center;
        word-break: break-all;
    }

    .amount {
        padding: 5px;
        border-radius: 3px;
        display: flex;
        align-items: center;
    }
}

.expense {
    p {
        color: $red;
    }

    .amount {
        background-color: $light-red;
    }
}

.income {
    p {
        color: $green;
    }

    .amount {
        background-color: $light-green;
    }
}
