<div class="root">
    <div class="budget-item" (click)="onItemClick(budgetItem)"
        [ngClass]="{ 'income': budgetType === 'INCOME', 'expense': budgetType === 'OUTCOME' }">
        <div class="date">
            <strong>
                <span class="day-name">{{ getDayByDate(budgetItem.date) }}</span>
                <span class="day-date"> ({{ formatDate(budgetItem.date) }})</span>
            </strong>
        </div>
        <div class="description-wrapper" *ngFor="let item of budgetItem.content">
            <div class="description">
                <p>{{ item.description }}</p>
            </div>
            <div class="amount">
                <p>{{ item.amount }}</p>
            </div>
        </div>
    </div>

    <div class="x-icon-button" (click)="deleteButtonClick(budgetItem)"></div>
</div>